header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .burger-menu{
    display: none; 
}

header .logo p{
    font-size: 22px;
    color: yellow;
    margin: 0;
    transition: 0.5s;
}

header .header-links{
    max-width: 50%;
    width: 100%;
}

header .header-links nav .menu{
    display: flex;
    justify-content: space-between;  
    margin: 0; 
}

header .header-links nav .menu li{
    list-style-type: none;
}

header .header-links nav .menu li a{
    text-decoration: none;
    font-size: 18px;
    color: white; 
    transition: 0.5s;
}

header .header-links nav .menu.show{
    transition: 1s ease-in-out;
    opacity: 1;
    left: 0%;
}

.custom-breadcrumb ol li{
    text-decoration: none;
    color: white;
}

.image-shopping-custom{
    width: 200px;
    max-width: 100%;
}

.modal_hidden{
    display: none;
}

.modal_open{
    display: block;
}

.block-hidden{
    display: none; 
}

.block-open{
    display: block;
}

.hidden{
    display: none;  
}

.error-massage{
    color: red;
    font-size: 12px;
    display: none; 
}

.row-custom{
    --bs-gutter-x: 0;
}

.card-quest{
    width: 300px;
    margin-top: 30px;
}
/* Review */
.card-review{
    width: 300px;
    margin-top: 30px;
}

.text-review-height{
    height: 160px;
}


#search-value{
    position: relative;
    padding-left: 38px;
}

#search-quest-picture{
    position: absolute;
    z-index: 5;
    top: 13px;
    left: 10px;
    color: black;
}

#icon-basket{
    position: relative;
}

#basket-busy{
    position: absolute;
    top: 60px;
    font-size: 10px;
    color: red;
}

.height-min-view{
    height: 100vh;
}

a.btn-custom-size{
    font-size: 12px;
}

/* Footer*/

footer .contacts-info .phone-number a,
footer .contacts-info .footer-mail a{
    text-decoration: none;
    color: white;
}

/* Header */

@media screen and (max-width: 1024px){
    header .burger-menu{
        display: inline-block;
        
    }
    header .header-links nav .menu{
        min-height: 100vh;
        background: rgba(0,0,0,0.8);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: -280px;
        width: 280px;
        color: #fff;
        z-index: 1;
        padding-top: 130px;
        transition: 1s;
    }
    header .header-links nav .menu li{
        margin: 0;
        padding-bottom: 20px;
    }
    header .header-links nav .menu #close{
        display: block;
        position: absolute;
        right: 20px;
        top: 17px;
        font-size: 30px;
        color: #fff;
        z-index: 1;
        transition: 1s;
    }
}
