.image-shopping-custom{
    width: 200px;
    max-width: 100%;
}

.modal_hidden{
    display: none;
}

.modal_open{
    display: block;
}

.block-hidden{
    display: none; 
}

.block-open{
    display: block;
}

.error-massage{
    color: red;
    font-size: 12px;
    display: none; 
}

.row-custom{
    --bs-gutter-x: 0;
}

.card-quest{
    width: 300px;
    margin-top: 30px;
}

